
@media (max-width: 480px){
    .container{
        width: 200px;
    }
    #game{
        height: 200px;
    }
    .field-easy{
        width: 66.6px;
        height: 66.6px;
    }
    .field-normal{
        width: 50px;
        height: 50px;
    }
    .field-hard{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 480px) and (max-width: 630px){
    .container{
        width: 350px;
    }
    #game{
        height: 350px;
    }
    .field-easy{
        width: 116.6px;
        height: 116.6px;
    }
    .field-normal{
        width: 87.5px;
        height: 87.5px;
    }
    .field-hard{
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 630px) {
    .container{
        width: 500px;
    }
    #game{
        height: 500px;
    }
    .field-easy{
        width: 166.6px;
        height: 166.6px;
    }
    .field-normal{
        width: 125px;
        height: 125px;
    }
    .field-hard{
        width: 100px;
        height: 100px;
    }
}

.container{
    background-color: #737373;
    border: #cccccc solid 2px;
    border-radius: 35px 0;
    margin: 100px auto;
    padding: 50px;
}

body{
    background-color: #f7f7f7;
}

.btn:hover{
    background-color: #56ccde;
}

.field-easy, .field-normal, .field-hard{
    float: left;
}
.btn{
    display: block;
    margin: 35px auto;
    color: rgb(246, 245, 244);;
    background-color: #5bc0de;
    border: #267374 solid 1px;
    border-radius: 15px 0;
    padding: 15px;
    font-size: larger;
    font-style: oblique;
    font-family: Arial, sans-serif;
}

.field{
    color: #ffce75;
    background-color: #5bc0de;
    border: #267374 solid 2px;
    border-radius: 15px 0;
    margin: 5%;
    width: 90%;
    height: 90%;
}